sudo apt install python3-pip python3-opencv
pip3 install RPi.GPIO RPLCD smbus2 numpy pandas scikit-learn
pip3 install tflite-runtime
pip3 install matplotlib seaborn requests

pip install torch torchvision torchaudio

mkdir -p models
cd models
wget https://tfhub.dev/google/movenet/singlepose/lightning/4 -O movenet_lightning.tflite