sudo apt install python3-pip python3-opencv
pip3 install RPi.GPIO RPLCD smbus2 numpy pandas scikit-learn
pip3 install tflite-runtime
pip3 install matplotlib seaborn requests
pip install mpu6050-raspberrypi
pip install smbus
pip install picamera2


pip3 install torch torchvision torchaudio --break-system-packages
sudo pip3 install RPLCD --break-system-packages

tflite_runtime
sudo apt install python3-picamera2

mkdir -p models
wget -O models/movenet.tflite https://tfhub.dev/google/lite-model/movenet/singlepose/lightning/tflite/float16/4?lite-format=tflite
